@{
    ViewBag.Title = "Home Page";
}

<main class="container mt-5">
    <section class="text-center mb-5" aria-labelledby="projectTitle">
        <h1 id="projectTitle" class="display-4"><strong>Sistema de Gestión de Reservas ✅</strong></h1>
        <p class="lead">
            El objetivo del proyecto es desarrollar un Sistema de Gestión de Reservas utilizando .NET Framework 4.8, Dapper como ORM para interactuar con una base de datos SQL Server, y una interfaz web funcional que integre CSHTML (Razor), JavaScript, y CSS.
        </p>
        <p>
            Este sistema permitirá a los usuarios gestionar salas y reservas de manera eficiente. El proyecto está diseñado para evaluar habilidades técnicas en la creación de CRUDs, conexión a bases de datos, diseño de procedimientos almacenados, manejo de vistas, y estilización de la interfaz.
        </p>
    </section>
</main>
